@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;

    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body > div {
    padding: 0 0 10% 0;
    text-align: center;
}

h1 {
    font-weight: 300;
    font-size: 3.5em;
}

h2 {
    font-weight: 200;
    font-size: 2em;
}

input[type="text"], [type="email"], [type="tel"] {
    padding: 20px 30px;
    width: 350px;
    font-size: 1em;
    margin-bottom: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
}

input[type="submit"] {
    padding: 20px 30px;
    width: 410px;
    margin-bottom: 25px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #29e48c;
    border-radius: 10px;
    transition: all 200ms;
}

input[type="submit"]:hover {
    background-color: #199b5e;
}

.signup {
    text-decoration: none;
    padding: 20px 150px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: rgb(230, 51, 51);
    border-radius: 10px;
}

.signup:hover {
    background-color: rgb(184, 46, 46);
}


