name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:     

  lint:
    name: Test lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Test lint
        run: |
          make vet
          make lint

  test_unit_hw0:
    name: Test unit HW0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Test unit HW0
        run: make test_unit_hw0

  test_int_hw0:
    name: Test integration HW0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Test integration HW0
        run: |
          make setbin
          make test_int_hw0

  test_unit_hw1:
    name: Test unit HW1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Test unit HW1
        run: make test_unit_hw1

  test_int_hw1:
    name: Test integration HW1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Test integration HW1
        run: |
          make setbin
          make test_int_hw1
  
  test_unit_hw2:
    name: Test unit HW2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Test unit HW2
        run: make test_unit_hw2

  test_int_hw2:
    name: Test integration HW2
    runs-on: ubuntu-20.04-16core
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Test integration HW2
        run: |
          make setbin
          make test_int_hw2

  test_unit_hw3:
    name: Test unit HW3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Test unit HW3
        run: make test_unit_hw3

  test_int_hw3:
    name: Test integration HW3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Test integration HW3
        run: |
          make setbin
          make test_int_hw3
