# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: lint
      run: make lint

    - name: test_unit_hw0
      run: make test_unit_hw0
      
    - name: test_int_hw0
      run: make test_int_hw0
    
    - name: test_unit_hw1
      run: make test_unit_hw1
      
    - name: test_int_hw1
      run: make test_int_hw1
      
    - name: test_unit_hw2
      run: make test_unit_hw2
    
    - name: test_int_hw2
      run: make test_int_hw2
      
    - name: test_unit_hw3
      run: make test_unit_hw3
  
    - name: test_int_hw3
      run: make test_int_hw3
    
    
